.item-list {
    color: rgb(2, 58, 39);
    font-weight: 500;
    list-style-type: none;

}

.item-list li {
    background-color: #fff;
    box-shadow: 0 1px rgba(0, 0, 0, 0.12);
    padding: 15px;
    color: #333;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    border-radius: 10px;
}

.report-container {
    display: flex;
    justify-content: space-between;
    padding:15px;
    margin: 15px 0;
    background-color: #fff;
    border-radius: 10px;
}

.report-container>div {
    flex: 1;
    text-align: center;
}

.report-income, .report-expense {
    border-right: 2px solid #dedede;
}

.button {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.button button {
    width: 100px;
    font-size: 16px;
    border: 2px solid orange;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.button button:hover {
    background-color: orange;
    color: #fff;
}
